{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags%}


{% block side-nav %}
	<div class="teacher-sidebar">
		{% if user.departmentofficer.department_name == 'Library' %}
		<a href="{% url 'departments:add-form-library' slug=user.departmentofficer.department_name %}">Add Student<i class="flaticon-follow" style="margin-left: 90px;"></i></a>
		<a href="{% url 'departments:library-search' slug=None item=None %}">Search Student<i class="flaticon-magnifying-glass" style="margin-left: 70px;"></i></a>		
		{%else%}
		<a href="{% url 'departments:add-form-workshop' slug=user.departmentofficer.department_name %}">Add Student<i class="flaticon-follow" style="margin-left: 90px;"></i></a>
		<a href="{% url 'departments:workshop-search' slug=None item=None %}">Search Student<i class="flaticon-magnifying-glass" style="margin-left: 70px;"></i></a>				
		{% endif %}
	</div>
{% endblock %}
{% block content%}
	
{% endblock %}
