{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block side-nav %}
	<div class="student-sidebar">
		<a href="{% url 'students:student-update' %}">Profile<i class="flaticon-user" style="margin-left:100px;"></i></a>
		<a href="{% url 'students:items-urls' %}">Items<i class="flaticon-inventory" style="margin-left:108px;"></i></a>
		{% if cleared %}
		<a href="{% url 'students:request-dos' %}">Request to DOS<img src="{% static 'img/bootstrap-icons/check-circle-fill.svg' %}" alt='student' height="25" width="25" style="margin-left:49px;padding-bottom:3px;"></a>
		{% endif %}
	</div>
{% endblock %}
{% block content%}
	<p style="font-size:20px;">Are you sure you want to send a request to DOS?</p>
	<form method="POST">
		{% csrf_token %}
		<div class="form-group">
			<button class="btn-outline-success btn-lg " type="submit">Send</button>
		</div>		
	</form> 
{% endblock %}