* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;;
}

body {
  background-color:  #ececec;
}

.cont {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.cont-special {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.side-bar {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color:  #143b54; */
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: 6px 6px 24px 0 rgb(0,0,0,0.2);
  /* border: 1px solid black; */
}

.side-nav {
  height: auto;
  width:auto;;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  /* border: 1px solid cyan; */
  justify-content: space-between;
}

.side-nav a {
  color: black;
  text-align: center;
  /* padding: 14px 16px; */
  /*border: 1px solid cyan;*/
  text-decoration: none;
  margin-top: 9px;
}

.cont-col {
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  /* background-color: red; */
  display: inline-flex;
  flex-flow: column wrap;
}

.cont-col-special {
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  /* background-color: red; */
  display: inline-flex;
  flex-flow: column wrap;
}

.nav-cont {
  overflow: hidden;
  position: fixed;
  top: 0;
  margin-left: 20%;
  width: 80%;
  background-color: white;
  height: 50px;
  display: inline-flex;
  justify-content: flex-end;
  z-index:1;
}

.nav-cont-special {
  overflow: hidden;
  position: fixed;
  top: 0;
  /*margin-left: 20%;*/
  width: 100%;
  background-color: white;
  height: 70px;
  display: inline-flex;
  justify-content: flex-end;
}

.logo {
  width: 75%;
  height: 150px;
  margin-left: 30px;
  /*border: 1px solid cyan;*/
}

.logo-special {
  width: 10%;
  height: 65px;
  margin-right: 820px;
  /*border: 1px solid cyan;*/
}


.logo img {
  width: 100%;
  height: 11  0%;
}


.logo-special img {
  width: 100%;
  height: 100%;
}


.nav-center {
  /*border: 1px solid black;*/
  height: 40px;
  display: flex;
  justify-content: space-around;
  margin-right: 10px;
  width: 100%;
  padding-top: 5px;
}

.nav-center-special {
  /*border: 1px solid cyan;*/
  height: 40px;
  display: flex;
  justify-content: space-around;
  margin-right: 10px;
  margin-top: 15px;
  width: 25%;
  padding-top: 5px;
}


.nav-center a{
  color: black;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  /* border: 1px solid cyan; */
}

.nav-center-special a{
  color: black;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  /* border: 1px solid cyan; */
}

.nav-cont ul li a:hover{
  border: 1px solid black;
}

.content-cont {
  background-color: white;
  margin-top: 100px;
  width:70%;
  margin-left: 25%;
  box-shadow: 6px 6px 24px 0 rgb(0,0,0,0.2);
  /* border: 1px solid green; */
  border-radius: 12px;
  padding: 20px;
}

.content-cont-special {
  background-color: white;
  margin-top: 160px;
  width:70%;
  margin-left: 15%;
  box-shadow: 6px 6px 24px 0 rgb(0,0,0,0.2);
  /* border: 1px solid green; */
  border-radius: 12px;
  padding: 20px;
}

.student-sidebar {
  /*border: 1px solid black;*/
  text-align:center;
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}

.student-sidebar a{
  text-decoration: none;
  margin-top: 13px;
  /*border: 1px solid black;*/
}

.teacher-sidebar {
  /*border: 1px solid black;*/
  text-align:center;
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}

.teacher-sidebar a{
  text-decoration: none;
  margin-top: 13px;
  /*border: 1px solid black;*/
}

#user-input {
  width:95%;
  border-radius: 12px;
  padding-left: 12px;
  font-size: 17px;
  /*border: 1px solid black;*/ 
}

@keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
  }
  
.blink {
    text-decoration: blink;
    animation-name: blinker;
    animation-duration: 0.6s;
    animation-iteration-count:infinite;
    animation-timing-function:ease-in-out;
    animation-direction: alternate;
  }

.btn img{
  color:red;
}

#t-item a{
  text-decoration: none;
  color: black;
}


/*@media screen and (max-width: 600px) {
  .logo
  {
    margin-left: 3px;
    margin-bottom: 20px;
    /*float: left;*/
    height: 50px;
    width: 100%;      
    border:1px solid black;
  }

  .logo img
  {
    /*height: 100px;*/
    background-size: cover;
  }

  .side-bar {
    /*display: none;*/
  }

}
*/


